@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
}

.nav-container {
    width: 100%;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
}

nav ul {
    width: 40%;
    display: flex;
    margin-left: 15em;
    justify-content: flex-end;
    gap: 20px;
}

nav li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #fff;
}



button a {
    text-decoration: none;
    color: #0270E8;
}

.contact-section {
    margin-top: 7.5em;
    margin-left: 7.5em;
    color: #fff;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h6 {
    padding-top: 1em;
    font-size: 1rem;
    font-weight: 400;
}

h6 span {
    padding-left: 0.5em;
    color: red;
}

.icon-container {
    display: flex;
    padding-top: 2em;
    gap: 13px;
}

.logo {
    width: 90px;
}

main {
    width: 100%;
    background: #fff;
}

.heading {
    display: flex;
    flex-direction: column;
}

.heading div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 50px;
}

.get-in-touch {
    border-bottom: 2px solid #FE4C1C;
    padding-bottom: 5px;
    color: #FE4C1C;
}

.getTouch {
    color: black;
    border: none;
}

.getQuote {
    border-bottom: 2px solid #FE4C1C;
    padding-bottom: 5px;
    color: #FE4C1C;
}

.heading div:nth-of-type(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    gap: 15px;
}

h4 {
    font-weight: bold;
    color: #22343D;
}

.heading p {
    font-size: 0.8rem;
    color: #22343D;
}

input {
    height: 3.5rem;
    border: 1px solid #979797;
    border-radius: .5rem;
    margin-top: 1em;
    padding: .3rem;
}

.form-section {
    display: flex;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.form-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    width: 40%;
}

label button {
    margin-top: 1em;
    align-self: flex-start;
}

.label-message,
.label-name,
.label-email {
    display: flex;
    flex-direction: column;
}

.message {
    resize: none;
    height: 12rem;
    border-radius: 0.5rem;
    border: 1px solid #979797;
}

.form-two-section {
    display: none;
    height: 30rem;
}

.form-two {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

select {
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    border: 2px solid #a4a4a4;
    background-color: #fff;
}

.wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 10rem;
    padding: 1rem;
}

.parent-box {
    width: 95%;
    height: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px 1px #dadada;
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: height .4s ease-in-out;
}

.dropped {
    height: 15rem;
}

.child-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.child-top {
    color: #1099C3;
}

.child-box span {
    cursor: pointer;
}

.child-box span img {
    width: 30px;
}

.child-bottom {
    display: none;
}

.parent-box p,
h3 {
    padding: 0 1rem 0 1rem;
    padding-top: 3px;
}

:is(.parent-box, .parent-box-one, .parent-box-two, .parent-box-three) h3 {
  padding: 0 0 0 1rem;
  padding-top: 3px;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.parent-box-one {
    width: 95%;
    height: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px 1px #dadada;
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: height .4s ease-in-out;
}

.parent-box-one p {
    padding: 0 1rem 0 1.5rem;
}

.dropped {
    height: 15rem;
}

.child-box-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: #1099C3;
}

.child-box-one span {
    cursor: pointer;
}

.child-box-one span img {
    width: 30px;
}

.child-bottom-one {
    display: none;
}

.parent-box-two {
    width: 95%;
    height: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px 1px #dadada;
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: height .4s ease-in-out;
}

.dropped {
    height: 15rem;
}

.parent-box-two.dropped {
    height: 17rem;
}

.parent-box-two p {
    padding: 0 1rem 0 1.5rem;
}

.child-box-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: #1099C3;
}

.child-box-two span {
    cursor: pointer;
}

.child-box-two span img {
    width: 30px;
}

.child-bottom-two {
    display: none;
}

.parent-box-three {
    width: 95%;
    height: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px 1px #dadada;
    background-color: #fff;
    border-radius: 1.5rem;
    transition: height .4s ease-in-out;
    overflow: hidden;
}

.dropped {
    height: 15rem;
}

.parent-box-three.dropped {
    height: 17rem;
}

.parent-box-three p {
    padding: 0 1rem 0 1.5rem;
}

.child-box-three {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: #1099C3;
}

.child-box-three span {
    cursor: pointer;
}

.child-box-three span img {
    width: 30px;
}

.child-bottom-three {
    display: none;
}

.accordion-section {
    display: flex;
}

/* .image-container img {
    width: 280px;
} */

.faq-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dot-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dot-icon img {
    width: 10px;
}

.image-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.map-section {
    width: 100%;
    height: 50%;
}

div.mapouter {
    width: 100%;
    height: 100%;
}

div.gmap_canvas {
    width: 100%;
    height: 100%;
}

iframe#gmap-canvas {
    width: 100%;
    height: 80%;
}

.map-section a {
    display: none;
}

@media screen and (max-width:420px) {
    body {
        max-width: 100%;
    }
   
    .label-name,
    .label-email,
    .label-message {
        width: 70%;
    }
    label button {
        
    }
    .dropdown {
        width: 70%;
    }
    .accordion-section {
        display: flex;
        flex-direction: column;
    }
    .wrapper {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-heading {
        align-self: flex-start;
        margin-left: 1rem;
    }
    .parent-box,
    .parent-box-one,
    .parent-box-two,
    .parent-box-three {
        font-size: 0.85rem;
    }
    .parent-box p,
:is(.parent-box, .parent-box-one, .parent-box-two, .parent-box-three) h3 {

  font-size: 0.9rem;
}
    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:720px) {
    body {
        max-width: 100%;
    }
    header {
        display: none;
    }
    .heading p {
        width: 15rem;
        font-size: 0.8rem;
        text-align: center;
    }
    .label-name,
    .label-email,
    .label-message {
        width: 70%;
    }
    
    .dropdown {
        width: 70%;
    }
    .accordion-section {
        display: flex;
        flex-direction: column;
    }
    .wrapper {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-heading {
        align-self: flex-start;
        margin-left: 1rem;
    }
    .parent-box,
    .parent-box-one,
    .parent-box-two,
    .parent-box-three {
        width: 100%;
    }
    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:1024px) {
    body {
        max-width: 100%;
    }
    header {
        display: none;
    }
    .heading p {
        text-align: center;
    }
    .label-name,
    .label-email,
    .label-message {
        width: 70%;
    }
    
    
    .dropdown {
        width: 70%;
    }
    .accordion-section {
        display: flex;
        width: 95%;
        margin: auto;
        padding-bottom: 3em;
    }
    .wrapper {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-heading {
        align-self: flex-start;
        margin-left: 1rem;
    }
    .image-container {
        width: 80%;
        display: flex;
    }
}